name: Playwright Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    container: 
      image: mcr.microsoft.com/playwright:latest
    env:
      HOME: /tmp
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Install dependencies
        run: npm ci
        
      - name: Build the application
        run: npm run build
      - name: Start the application
        run: npm run dev &
        
      - name: Install Playwright browsers
        run: npx playwright install --with-deps
      
      - name: Run Playwright tests - SMOKE ONLY
        run: NODE_OPTIONS="--max-old-space-size=4096" npm run e2e:smoke
        
      - name: Run Playwright tests - ALL
        run: NODE_OPTIONS="--max-old-space-size=4096" npm run e2e:all

      - name: Upload HTML report artifact
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: html-report
          path: test-results/html-report/
          retention-days: 5
  