name: Playwright Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    container: 
      image: mcr.microsoft.com/playwright:latest
    env:
      IS_CONTAINER: true
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Install dependencies
        run: npm ci
        
      - name: Build the application
        run: npm run build
      - name: Start the application
        run: npm run serve &
        
      - name: Install Playwright browsers
        run: npx playwright install --with-deps
      
      - name: Run Playwright tests - SMOKE ONLY
        run: npm run e2e:smoke
        
      - name: Run Playwright tests - ALL
        run: npm run e2e:all
